*{
  margin: 0px;
  padding: 0px;
}
img{
max-width:100%;

}
ul{
  list-style-type: none;
}
.gallary{
  width: 70%;
  margin: 10% auto;
  border-radius: 10px;
  background: #c1c1c1;
  padding: 10px 0px;
}

.imgContainer{
  width: 18%;
  margin-left: 1%;
  display: inline-block;
  vertical-align: center;

}
article{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
figcaption{
  text-align: center;
  background: rgba(255,255,255,0.1);
  padding: 10px;
  color: #ccc;
}
article:target{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  text-align: center;
  overflow: scroll;
}
article img{
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: 1s;
  border: 5px solid white;
}
article:target img{
    max-width: 80%;
    max-height: 50%;
    opacity: 1;
    margin: 7% auto;
}
.links{
  position: relative;
  width: 100%;
  height: 40px;
  background: green;
}
.arrow{
  width: 0px;
  height: 0px;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 45%;
  text-indent: -9999px
}
.next{
  border-left: 30px solid rgba(255,255,255,0.3);
  border-right: 30px solid transparent;
  right: 2% ;


}
.previous{
  border-right: 30px solid rgba(255,255,255,0.3);
  border-left: 30px solid transparent;
  left: 2%;
}
.close{
  background: gray;
  color: #333;
  background: #cfcfcf;
  position: absolute;
  padding: 6px 20px 6px 36px;
  text-decoration: none;
  top: 20px;
  margin-left: -30px;

  border-radius: 10px;



}
.close:before{
  content: "X";
  position: absolute;
  left: 5px;
  top: 4px;
  width: 20px;
  padding: 2px;
  border-radius: 50%;
  background: #111;
  color: #ccc;
}
.title,.subTitle{
    text-align: center;
    color: #666;

    text-transform: capitalize;
    text-decoration: underline;
    margin-top: 3%;
}
.subTitle{
    margin: 1% auto 10% auto ;
    display: block;
    text-align: center;

}