.box{
	height: 100px;
	position: relative;
	cursor: pointer;
}
.box-details{
	position: absolute;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 50%;
	overflow: hidden;
	transition: 0.5s;
}
.material-bg{
	width: 0px;
	height: 0px;
	position: absolute;
	left: 50%;
	top: 50%;
	transition: 0.1s;
	overflow: hidden;
	opacity: 0.5;
	
}
.main-text{
	font-size: 24px;
	text-transform: capitalize;
}
.color-name{
	display: inline-block;
	margin-top: 30px;
	font-size: 21px;
	text-transform: capitalize;


}
.details{
	text-align: center;
}
.details p {
	font-size: 24px;
	color: white;
	text-transform: capitalize;
}
.shown{
	position: absolute;
	left: 0px !important;
	top: 0px !important;
	height: 100% !important;
	width: 100% !important;
	transition:  0.7s;
	opacity: 1;
}