.box{
	height: 100px;
	position: relative;
	cursor: pointer;
	z-index: 10
}
.box-details{
	position: absolute;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 50%;
	overflow: hidden;
	transition: 0.5s;
}
.material-bg{
	width: 0px;
	height: 0px;
	position: absolute;
	left: 50%;
	top: 50%;
	transition: 0.01s;
	overflow: hidden;
	opacity: 0.5;
	z-index: 0;
	
}
.material-bg.slow{
	transition: 0.4s !important;
}
.main-text{
	font-size: 24px;
	text-transform: capitalize;
}
.color-name{
	display: inline-block;
	margin-top: 20px;
	font-size: 18px;
	text-transform: capitalize;


}
.details{
	text-align: center;
}
.details p {
	font-size: 24px;
	color: white;
	text-transform: capitalize;
}
.shown{
	left: 0px !important;
	top: 0px !important;
	height: 100% !important;
	width: 100% !important;
	transition:  0.5s;
	z-index: 11;
	opacity: 1;
}
#close-hero{
	position: fixed;
	right: 10px;
	top: 10px;
}