.wrapper{
  padding-top: 100px;
}
nav{
  position: fixed;
  height: 100px;
  z-index: 999;
}
nav .brand-logo{
  margin: 17px 20px;
}
nav #categories{
  margin-top: 17px;
}
nav.shrink{
  height:64px;
}
nav.shrink #logo img{
  max-height:60px;
}
nav.shrink .brand-logo{
  margin: auto;
}
nav.shrink #categories{
  margin-top: auto;
}
.report-actions{
  bottom: 15px;
  right: 15px;
}
.report-actions:hover a{
  --ms-transform: rotate(45deg);
  --webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


#logo{
  margin-top: 0px !important;}
  #logo img{
    max-height: 90px;
  }

#mobile-demo li.active{
  background-color: white;
}
.mianSection{
  padding: 10px !important;
}


.dropdown-button{
  height: 100% !important;
  display: inline-block;
  line-height: 60px;
}
.dropdown-button{
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12); 
}

.imgWrapper{
  margin-top: 5px;}
  .imgWrapper img{
    border: 5px solid white; }

#addCommentForm{
  padding-bottom: 30px;
}
.images .card{
  cursor: pointer;
}
.input-field textarea:focus + label {
  color: #0288D1 !important; }

  .input-field textarea:focus {
    border-bottom: 1px solid #0288D1 !important;
    box-shadow: 0 1px 0 0 #0288D1 !important; }

  .input-field .prefix.active {
       color: #0288D1 !important; }

/* slider */
.slider{
  margin-top: 40px;
}
#slider{
  height: 400px;
  margin-top: 40px;
  position: relative;
}
@media only screen and (max-width : 600px) {
  #slider{
    height: 300px;
  }
  #slider .capText {
    left: 0px;
    min-width: 100%;
    top: 100%; }
  }

.slide{
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto; }
  
  .slide .capText{
    position: absolute;
    top: 5%;
    left: 5%;
    max-width: 50%;
    color: white;
    font-size: 21px;
    padding: 6px 12px;
    background: rgba(0,0,0,0.3);
  }



/* images archive */
.img-arch-shafaf{
  cursor: pointer;
}
.gallary{
    position:fixed;
    left: 0;
    top: 0;
    padding:0;
    margin:0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.8);
}
.gallary img{
  width: 100%;
  height: auto;
  margin: 0px auto ;
}
.gallary .img-wrapper{
  padding: 0px;
}
.gallary .cap-wrapper{
  height: 100%;
  position: relative;
}
.card{
  cursor:default; }
  .card-content .date{
    padding: 10px;
  }
.gallary-action{
  position: absolute;
  bottom: 15px;
  cursor: pointer;
  padding: 6px 12px
}
.pinned-right-bottom{
  right: 10px;
}
.pinned-left-bottom{
  left: 10px;
}
.gallary-item{
  height: 80%;
  margin-top: 5%;
  padding: 0px !important;
  overflow: hidden;
}
#sidePart .card-content{
  padding-bottom: 40px;
}


footer{
  height: auto; }
  footer > div.row{
    margin: 0px !important;
    margin-top: -4px !important; }

.hot-news{
  position: relative;
  width: 100%;
  display: inline-block;
  margin: 0px; }
  .hot-news li{
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 1s;
    -webkit-transform: rotateX(180deg); /* Safari */
    -ms-transform: rotateX(180deg); /* Safari */
    -moz-transform: rotateX(180deg); /* Safari */
    transform: rotateX(180deg); }
    .hot-news li.shown{
      height: auto;
      padding: 15px;
      transition: 1s;
      -webkit-transform: rotateX(0deg); /* Safari */
      -ms-transform: rotateX(0deg); /* Safari */
      -moz-transform: rotateX(0deg); /* Safari */
      transform: rotateX(0deg); }

.dropdown-content li:hover{
  background-color: #607D8B;
}
.pinnedFooter{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%; }
  .pinnedFooter ul{
    margin: 0px;
  }



.profile-header .col,.card.col{
  padding: 0px !important;
}
.profile-header .info{
  padding: 15px;
}

.dark-blue{
  background-color:#0288D1 !important;
}
.dark-blue-text{
  color:#0288D1 !important;
}
.normal-blue{
  background-color:#03A9F4 !important;
}
.normal-blue-text{
  color:#03A9F4 !important;
}
.light-blue{
  background-color:#B3E5FC !important;
}
.light-blue-text{
  color:#B3E5FC !important;
}
.blue-accent{
  background-color:#607D8B !important;
}
.blue-accent-text{
  color: #607D8B !important;
}
.dark-gray{
  background-color:#212121 !important;
}
.dark-gray-text{
  color:#212121 !important;
}
.light-gray{
  background-color: #727272 !important;
}
.light-gray-text{
  color: #727272 !important;
}
.offwhite{
  background-color: #f9f9f9 !important;
}
.divider-bg{
  background-color: #B6B6B6 !important;
}

.stackLayer{
  height: 500px;
  width: 90%;
  position: fixed;
  right: 0px;
  top: 0px;
  overflow: scroll;
}
.margin-zero{
  margin-top: 0px !important;
}
.bigger{
  transform: scale(1.06);
  transition: 0.5s;
}


.high{
  border: 2px solid red;
}
