a:active, a:focus{
  outline: 0px;
}
ul{
  list-style-type: none;
  padding: 0px;
}
.imgContainer{
  padding: 5px;
}

/* theme colors */

.dark-red{
  color: #953c2d;
}
.dark-red-bg{
  background-color: #953c2d;
}
.dark-red-border{
  border: 1px solid #953c2d;
}
.gray{
  color:#272b2e;
}
.gray-bg{
  background-color:#272b2e;
}
.gray-border{
  border: 1px solid #272b2e;
}
.offwhite{
  color:#e4e5be;
}
.offwhite-bg{
  background-color:#e4e5be;
}
.offwhite-border{
  border: 1px solid #e4e5be;
}



/* header part */
.navbar-brand:hover{
  color: #953c2d;
  background-color: #222;
}
.headerItem a{
  text-decoration: none;
  transition:0.3s;
}
.headerItem a:hover,.headerItem a:focus,.headerItem.active a{
  background-color: #222 !important;
  color: #953c2d;
  transition:0.3s;
}
.headerItem.active a{
  text-decoration: none;
}
#personalInfo{
  height: 50px;
  vertical-align: center;
  padding: 10px;
}
#personalInfo span{
  display: inline-block;
  padding: 6px 12px;
  border-radius: 10px;
  margin-right: 7px;
  transition:0.3s;
}
#personalInfo span:hover{
  background-color: #222;
  color: #953c2d;
  transition:0.3s;
}
#personalInfo a:hover{
  color: #953c2d;
  background-color: #e4e5be;
  transition:0.3s;
}

/* feature section */


.main-section{
  margin-top: 10px;
}
#featuresTitle{
  text-align: left;
  padding: 0px 10px 10px 10px;
  border-bottom: 1px solid #953c2d;
}
#featuresSection{
  padding: 20px 10px 60px 10px;
}
.feature{
  padding: 0px;
  border-width: 5px;
}
.feature img{
  width: 100%;
  height: 120px;
}
.glyphicon{
  padding-top: 10px;
}

/* work part section*/
#workPartsContainer{
  padding: 10px;
}
#workParts{
}
#workParts img{
}
.workPart{
  padding-top: 40px;
}
.workPart a{
  transition: 0.3s;
  text-transform: capitalize;
}
.workPart a:hover{
  color: #953c2d;
  background-color: #222;
  transition: 0.3s;
  -ms-transform: scale(1.2,1.2); /* IE 9 */
  -webkit-transform: scale(1.2,1.2); /* Safari */
  transform: scale(1.2,1.2);
}
#workPartsContainer #lowerPart{
  margin-top: 60px;
}
#showyTabs{
  width: auto;
  display: inline-block;
  margin: 0px auto;
}
#showyTabs li a:hover,
#showyTabs li.active a,
#showyTabs li a:focus{
  background-color: #222;
  color:#953c2d;
  border: 1px solid transparent;
  border-bottom: 1px solid #953c2d;
  transition: 0.3s;
}
#myTabContent{
  margin-top: -5px;
}
/*last project section*/

#lastPojectImage{
  margin-top: 20px;
}
#lastPojectImage img{
  border-width: 5px;
}
/* tweeter Part */

#twitterPart{
  border-left: 5px solid #953c2d;
}
#twitterPart h3 span{
  font-style: italic;
}
#subscriptionContainer{
  position: relative;
}
#subscriptionEmail{
  height: 34px;
  width: 100%;
  padding: 0 90px 0 10px;
  border: none;
}
#subscriptionButton{
  position: absolute;
  top: 0px;
  right: 10px;
}
#tweet{
  margin: 20px auto;
}
#tweetButtonContainer{
  padding: 0px;
  text-align: center;
}
#tweetButton{
  width: 100%;
}
#tweetButton:hover,#subscriptionButton:hover{
  color: #953c2d;
  background-color: #e4e5be;
  transition:0.3s;
}
#tweetBody{
  padding: 6px 12px;
  font-size: 16px;
}
#tweetBody:hover{
  color: #953c2d;
  background-color: #222;
  transition:0.3s;
}

/* footer */
#filckerContainer .footerListTitle{
  border-bottom: 1px solid #272b2e;
}
.footerListTitle{
  font-size: 21px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.logo{
  filter: grayScale(100%);
  -webkit-filter: grayScale(100%);
  transition:0.3s;
  margin: 10px auto;
  width: 150px;
}
.logo:hover{
  filter: grayScale(0%);
  -webkit-filter: grayScale(0%);
  transition:0.3s;
}
.footerList{
  border-top: 1px solid #272b2e;
}
.footerList li{
  margin: 10px auto;
}
.footerList li a{
  width: 100%;
  display: block;
}
.footerList li a:hover{
  color: #953c2d;
}
#filcker li{
  margin-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
}
#filcker li img{
  border-width: 5px;
}
/*contacts section*/
#contactInfo{
  margin-bottom: 30px;
}
#contactInfo div {
  height: 100%;
}
#contactInfo div a{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
}
#contactInfo div:hover{
  background-color: #222;
}
#contactInfo div:hover a,#contactInfo div a:focus{
  color: #953c2d;
}

/*dark-red => 953c2d */
/* gray => 272b2e */
/* offwhite => e4e5be*/