*{
  margin: 0px;
  padding: 0px;}

ul{
  list-style-type: none;}

a:active,a:focus{
  outline: 0;}

#callary-container{
  width: 50%;
  margin:  20px auto;
  overflow: hidden;
}
.slide{
  position: absolute;
}
.img-container{
  position: relative; 
  left: 0%;
  transition: 0.5s;
}
.responsive-image{
  max-width: 100%;}
.left{ 
  left: 100%;
  }
.right{
  left: -100%;
}
.center{
  left: 0%;
}
