.limited{
	max-height: 300px;
	overflow: hidden;
}
.no-margin{
	margin: 0px !important;
}
.no-padding{
	padding: 0px !important;
}
.nav-wrapper{
	padding-left: 10px;
}
.full-height{
	min-height: 100% !important;
	height: 100% !important;
}
.relative{
	position: relative;
}
.action{
	width: 80px !important;
	height: 80px !important;
	line-height: 80px !important;
}
.home-action{
	margin-top: 10px;
}
.welcome-text{
	margin-top: 200px;
	font-size: 18px;

}
.project-name{
	font-size: 50px;
	margin: 30px auto;
	font-weight: bold;
}
.project-promo{
	font-size: 18px;
}
.more-info{
	margin-top: 50px;
	display: inline-block;
}
.secondary-title{
	color: #333;
	text-transform: capitalize;
	font-size: 16px;
}
body{
	background-color: #ededed;
	color: #333;
}
label{
	text-transform: capitalize;
}
.side-bar{
	background-color: #fff;
	min-height: 100%;
	position: fixed;
	top:0px;
	padding: 0px !important;
}
.large-logo{
	width: 100%;
	height: 65px;
	line-height: 65px;
	color: white;
}
#searchContainer{	
 transition: 0.5s;
}
#search-llama:focus{
 color: #eee;
 font-size: 21px;
}
#side-bar li {
	width: 100%;
	padding: 10px;
	color:#212121;
	border: 1px solid transparent;
	transition: 0.5s;
	}
	#side-bar li a{
		color:#727272;
		transition: 0.5s;
	}
	#side-bar li:hover {
		border-top: 1px solid #B6B6B6;
		border-bottom: 1px solid #B6B6B6;
	}
	#side-bar li:hover a{
		color: #212121;
	}

.col.article-img{
	padding: 0px !important;
	margin: 15px !important;
}
.project-details{
	text-align: left;
}
.input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input:focus + label ,.input-field textarea:focus + label {
     color: #64B5F6 !important;
   }
   /* label underline focus color */
   .input-field input:focus,.input-field textarea:focus {
     border-bottom: 1px solid #64B5F6 !important;
     box-shadow: 0 1px 0 0 #64B5F6 !important;
   }
   /* valid color */
   .input-field input.valid, .input-field textarea.valid {
     border-bottom: 1px solid #64B5F6 !important;
     box-shadow: 0 1px 0 0 #64B5F6 !important;
   }
   /* invalid color */
   .input-field input.invalid, .input-field textarea.invalid {
     border-bottom: 1px solid #F44336 !important;
     box-shadow: 0 1px 0 0 #F44336 !important;
   }
   .input-field input.invalid + label, .input-field textarea.invalid + label {
   		color: red;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #64B5F6 !important;
   }
#filterOptions{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	opacity: 0;
	z-index: 1100;

}
.fadeIn{
	left: 15% !important;
	top: 10% !important;
	width: 70%;
	height: 80%;
	opacity: 1!important;
	transition:0.7s;
}
.filter-title{
	font-size: 24px;
	text-transform: capitalize;
	padding-left: 40px;
}
#filterOptions li {
	font-size: 18px;
	margin-top: 10px;
	text-transform: capitalize;
}
#dummyLayer{
	z-index: 1100;
	position: fixed;
	width: 100%;
	height: 0;
	background-color: #0f0;
	opacity: 0.7;
	top: 50%;
}
#dummyLayer.dummyFadeIn{
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: 0.5s;
}

#placeholder-image{
	max-height: 300px;
}

#project-details{
	min-height: 400px !important;
}
#success-text{
	padding: 20px 15px;
	margin-top:  200px;	
	font-size: 18px;
	text-transform: capitalize;
	font-size: 24px;
	font-weight: bold;
}
#success-actions{
	margin-top: 100px;
}
#signup-container,#signin-container{
	overflow: hidden;
}
.project-actions{
	margin-top: -10px;}
	.project-actions li{
		display: inline-block;}
		.project-actions li i{
			margin: 5px;
			vertical-align: middle;
		}
	.project-actions .readMoreLink{
		margin-left: 30px;
		float: right;
	}