input{
	background-color: white !important;
	margin-bottom: 0px !important;
	border-color: #ccc !important;
	padding-left: 10px !important;

}
#login-text{
	margin: 100px  auto 50px;
	font-size: 18px;
	text-transform: capitalize;
}
