.details{
  background-color: #eee;
  width: auto;
  display: inline-block;
  padding: 3px 9px;
}
*{
	vertical-align: middle;
}
.border-top{
	border-top: 1px solid #ddd;
}
.border-left{
	border-left: 1px solid #ddd;
}
.border-right{
	border-right: 1px solid #ddd;
}
.border-bottom{
	border-bottom: 1px solid #ddd;
}
.border{
	border: 1px solid #ddd;
}
.row.noMargin{
	margin-bottom: 0px;
}
.col.noPadding{
	padding: 0px ;
}
.row.outer{
	width: 98%;
	margin-left: 1%;
	margin-top: 40px;
}
img{
	margin-top: 10%;
}
.detailsRow span{
	margin-top: 15px;
}
.detailsRow select{
	margin-top: 5px;
	margin-bottom: 5px;
}
.detailsRow .btn{
	margin-top: 10px;
	margin-bottom: 5px;
}
#bookTickets{
	display: inline-block;
}
#dayNumber{
	font-size: 24px;
	padding-right: 5px;
}
#duration{
	margin-top: -54px;
	display: inline-block;
}
#date{
	font-size: 12px;
}